# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

#Personal notes
todos/

#shortcut 
brsrk.exe

# Virtual environment directories
venv/
.env/
env/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# IDE settings
.vscode/
.idea/
