[Desktop Entry]
Type=Application
Name=Berserk Timer
Comment=Run Berserk Timer
Exec=run.sh %F
Icon=src\assets\favicon.ico
Terminal=true
Categories=Uchmod +x run.command
tility;
