[Desktop Entry]
Type=Application
Name=Berserk Timer
Comment=Run Berserk Timer
Exec=run.sh %F
Icon=./assets/icon.png
Terminal=true
Categories=Uchmod +x run.command
tility;
